.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(32, 1, 41);
}

.Footer svg{
    width: 100px;
    height: 50px;
    color: goldenrod;
    cursor: pointer;
}

.Footer svg:hover{
    color: whitesmoke;
    transition: 0.5s;
}