*{
    font-family: 'Poppins', sans-serif;
}

.home{
    display: flex;
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../assets/bgImage.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.text-box h1{
    color: whitesmoke;
}

.text-box h3{
    color: whitesmoke;
}

.text-box a{
    text-decoration: none;
}

.actionBtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.actionBtn:hover{
    border: 1px solid rgb(249, 184, 21);
    background: rgb(249, 184, 21);
    transition: 1s;
}
