.navBar{
    width: 100%;
    background-color: rgb(32, 1, 41);
    display: flex;
    justify-content: space-between;
}

.leftSide img {
    width: 100px;
    height: 100px;  
    padding-left: 50px;
}

.rightSide{
    padding-top: 60px;
    margin-right: 20px;
    display: flex;
}

.rightSide ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.rightSide ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(249, 184, 21);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.rightSide ul li:hover::after{
    width: 100%;
}

.rightSide a{
    /* margin-right: 20px; */
    text-decoration: none;
    color: aliceblue;
}

.rightSide button {
    background-color: transparent;
    border: none;
    color: rgb(249, 184, 21);
    cursor: pointer;
    display: none;
}

.rightSide button:hover {
    color: whitesmoke;
    transition: 0.5s;
}

.hiddenLinks{
    padding-top: 60px;
    display: flex;
}

#open{
    display: inherit;
}

#open .hiddenLinks{
    display: none;
}

#closed img{
    display: none;
}

#closed .hiddenLinks a{
    text-decoration: none;
    color: white;
    margin: 5px;
    margin-top: 10px;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    .rightSide a{
        display: none;
    }

    .rightSide button {
        display: block;
        margin-right: 20px;
        font-size: 2em;
    }


}