.navBar{
    width: 100%;
    background-color: rgb(32, 1, 41);
    display: flex;
    justify-content: space-between;
}

.leftSide img {
    width: 100px;
    height: 100px;  
    padding-left: 50px;
}

.rightSide{
    padding-top: 60px;
    display: flex;
}

.rightSide a{
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
}

.rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 600px) {
    .rightSide a{
        display: none;
    }

    .rightSide button {
        display: inherit;
    }

}